<script type="text/template" id="contenedorWeb">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-contenedorWebForm">
    <% if(contenedorWeb.id) {%>
    <input type="hidden" name="id" value="<%= contenedorWeb.id %>"/>
    <% }%>
<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informaci&oacuten b&aacutesica</h3>
                    </div>
                    <div class="panel-body">
                    <div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Ej: ISIS2603" value="<%= contenedorWeb.get('name') %>"/>	
		</div>
        <div class="form-group" >
		<label for="descripcion">Descripci&oacuten</label>
    	<textarea type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Ej: Glassfish para curso de Aplicaciones Moviles" value="<%= contenedorWeb.get('descripcion') %>"/>	
		</div>
        <div class="form-group" >
			<label for="fechaCreacion">Fecha de creaci&oacuten</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaCreacion').datepicker({autoclose:true});
        	$('#fechaCreacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= contenedorWeb.get('fechaCreacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
        <div class="form-group" >
                            <label for="destruido">Estado
                            <div class= "onoffswitch">
                            <input id="destruido" name="destruido" value="true" type="checkbox" class= "onoffswitch-checkbox" <%= contenedorWeb.get('destruido')?'checked':'' %>>
                            <label class="onoffswitch-label" for="destruido">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                            </div>
                            </label>
                        </div>
                <div class="form-group" >
 
			<label for="encargadoidId">Encargado</label> 
            <select class="form-control" id="encargadoId" name="encargadoId">
			  <option value="">Ninguno</option>
            <% encargado.each(function(encargadoid) { %> 
              <option value="<%=encargadoid.get('id')%>" <% if(contenedorWeb.get('encargadoId')==encargadoid.get('id')) {%>selected<%}%> ><%=encargadoid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
        </div>
</div>
<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informaci&oacuten adicional</h3>
                    </div>
                    <div class="panel-body">
                    <div class="form-group" >
			<label for="fechaVencimiento">Fecha de vencimiento</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaVencimiento"  name="fechaVencimiento" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaVencimiento').datepicker({autoclose:true});
        	$('#fechaVencimiento').datepicker('setDate',App.Utils.Converter.date.toDate("<%= contenedorWeb.get('fechaVencimiento') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
   
		<div class="form-group" >
		<label for="puertos">Puertos</label>
    	<input type="text" class="form-control" id="puertos" name="puertos" placeholder="Ej: Puerto de administracion 4234 y Puerto de escucha 2222" value="<%= contenedorWeb.get('puertos') %>"/>	
		</div>
		<div class="form-group" >
		<label for="servidor">Servidor</label>
    	<input type="text" class="form-control" id="servidor" name="servidor" placeholder="Ej: 157.253.234.12" value="<%= contenedorWeb.get('servidor') %>"/>	
		</div>
		<div class="form-group" >
		<label for="url">URL</label>
    	<input type="text" class="form-control" id="url" name="url" placeholder="Ej: 157.253.233.34:8080" value="<%= contenedorWeb.get('url') %>"/>	
		</div>
        </div>
</div>
		
    </form>
    </div>
</script> 
<script type="text/template" id="contenedorWebSearchTemplate">
     <div class="form-group">
    <form role="form" id="<%= componentId %>-contenedorWebForm">
    <% if(contenedorWeb.id) {%>
    <input type="hidden" name="id" value="<%= contenedorWeb.id %>"/>
    <% }%>
    
    <div class="form-group" >
                    <input id="btn_name" class="btn btn-primary" value="Name" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-contenedorWeb-display-textfield',{textInputId:'#name' }); return false;" />
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= contenedorWeb.get('name') %>"
                           style = "visibility: hidden" />	
            </div>

            <div class="form-group" >
                <input id="btn_fechasTable" class="btn btn-primary" value="Fecha de creacion" type="submit" 
                        onclick="Backbone.trigger('<%= componentId %>-contenedorWeb-display-textfield',{textInputId:'#fechasTable' }); return false;" />                
                    <table id="fechasTable" style="visibility: hidden" class="table table-bordered">	
                        <tr>
                            <td><label for="fechaCreacion">Fecha inicial</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Fecha inicial" / >
                                <%= '<scr'+'ipt>' %>
                                $('#fechaCreacion').datepicker({autoclose:true});
                                $('#fechaCreacion').datepicker('getDate',App.Utils.Converter.date.toDate("<%= contenedorWeb.get('fechaCreacion') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>

                            <td><label for="fechaCreacion2">Fecha final</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion2"  name="fechaCreacion2" placeholder="Fecha final" />
                                <%= '<scr'+'ipt>' %>
                                $('#fechaCreacion2').datepicker({autoclose:true});
                                $('#fechaCreacion2').datepicker('getDate',App.Utils.Converter.date.toDate("<%= contenedorWeb.get('fechaCreacion2') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>

                        </tr>
                   </table>
                </div>

            <div class="form-group" >
                <input id="btn_fechasTable2" class="btn btn-primary" value="Fecha de vencimiento" type="submit" 
             onclick="Backbone.trigger('<%= componentId %>-contenedorWeb-display-textfield',{textInputId:'#fechasTable2' }); return false;" />                
                    <table id="fechasTable2" style="visibility: hidden" class="table table-bordered">	
                        <tr>
                            <td><label for="fechaVencimiento">Fecha inicial</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaVencimiento"  name="fechaVencimiento" placeholder="Fecha inicial" / >
                                <%= '<scr'+'ipt>' %>
                                $('#fechaVencimiento').datepicker({autoclose:true});
                                $('#fechaVencimiento').datepicker('getDate',App.Utils.Converter.date.toDate("<%= contenedorWeb.get('fechaVencimiento') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>

                            <td><label for="fechaVencimiento2">Fecha final</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaVencimiento2"  name="fechaVencimiento2" placeholder="Fecha final" />
                                <%= '<scr'+'ipt>' %>
                                $('#fechaVencimiento2').datepicker({autoclose:true});
                                $('#fechaVencimiento2').datepicker('getDate',App.Utils.Converter.date.toDate("<%= contenedorWeb.get('fechaVencimiento2') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>
         
                        </tr>
                   </table>
            </div>
    
                <input id="btn_tableDestruido" class="btn btn-primary" value="Filtrar por desactivados" type="submit" 
                        onclick="Backbone.trigger('<%= componentId %>-contenedorWeb-display-textfield',{textInputId:'#tableDestruido' }); return false;" /> 
                <div class="form-group" > 
                    <table id = "tableDestruido" style="visibility: hidden" > 
                        <td>
                            <label>
                                <input id="destruido" name="destruido" value="true" type="checkbox" 
                                    <%= contenedorWeb.get('destruido')?'checked':'' %> />  Desactivado
                            </label>
                        </td>
                    </table>
                </div>

                    <input id="btn_tableEncargado" class="btn btn-primary" value="Encargado" type="submit" 
                            onclick="Backbone.trigger('<%= componentId %>-contenedorWeb-display-textfield',{textInputId:'#tableEncargado' }); return false;" />
                    <div class="form-group" id = "tableEncargado" style="visibility: hidden">

                        <table class="table table-border" >
                            <tr>
                                <td>
                                    <label for="encargadoidId">Encargado Id</label>
                                </td>
                                <td>
                                    <select class="form-control" id="encargadoId" name="encargadoId">
                                            <option value="">None</option>
                                          <% encargado.each(function(encargadoid) { %> 
                                            <option value="<%=encargadoid.get('id')%>" <% if(contenedorWeb.get('encargadoId')==encargadoid.get('id')) {%>selected<%}%> ><%=encargadoid.get('name')%></option>
                                          <% }); %>                
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
            <div class="form-group" >
                    <input id="btn_servidor" class="btn btn-primary" value="Servidor" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-contenedorWeb-display-textfield',{textInputId:'#servidor' }); return false;" />
                  <input type="text" class="form-control" id="servidor" name="servidor" placeholder="Enter value" value="<%= contenedorWeb.get('servidor') %>"	
                           style = "visibility: hidden" />	
            </div>
        
        <div class="form-group" >
                    <input id="btn_url" class="btn btn-primary" value="URL" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-contenedorWeb-display-textfield',{textInputId:'#url' }); return false;" />
                 <input type="text" class="form-control" id="url" name="url" placeholder="Enter value" value="<%= contenedorWeb.get('url') %>"	
                           style = "visibility: hidden" />	
            </div>
</form>
</div>
</script>