<script type="text/template" id="estudiante">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-estudianteForm">
    <% if(estudiante.id) {%>
    <input type="hidden" name="id" value="<%= estudiante.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= estudiante.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="login">Login</label>
    	<input type="text" class="form-control" id="login" name="login" placeholder="Enter value" value="<%= estudiante.get('login') %>"/>	
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="permisoEscritura" name="permisoEscritura" value="true" type="checkbox" <%= estudiante.get('permisoEscritura')?'checked':'' %>> Permiso Escritura
    	</label>
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="permisoLectura" name="permisoLectura" value="true" type="checkbox" <%= estudiante.get('permisoLectura')?'checked':'' %>> Permiso Lectura
    	</label>
		</div>
		<div class="form-group" >
		<label for="tipoAcceso">Tipo Acceso</label>
    	<input type="text" class="form-control" id="tipoAcceso" name="tipoAcceso" placeholder="Enter value" value="<%= estudiante.get('tipoAcceso') %>"/>	
		</div>
    </form>
    </div>
</script> 
<script type="text/template" id="estudianteSearchTemplate">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-estudianteForm">
    <% if(estudiante.id) {%>
    <input type="hidden" name="id" value="<%= estudiante.id %>"/>
    <% }%>
<div class="form-group" >
                    <input id="btn_name" class="btn btn-primary" value="Name" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-estudiante-display-textfield',{textInputId:'#name' }); return false;" />
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= estudiante.get('name') %>"
                           style = "visibility: hidden" />	
            </div>
    
    <input id="btn_login" class="btn btn-primary" value="Login" type="submit" 
                    onclick="Backbone.trigger('<%= componentId %>-estudiante-display-textfield',{textInputId:'#fg-login' }); return false;" />
<div class="form-group" >
    	<input type="text" class="form-control" id="login" name="login" placeholder="Enter value" value="<%= estudiante.get('login') %>"/>	
		</div>
</div>
</script>