<script type="text/template" id="paginaWeb">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-paginaWebForm">
    <% if(paginaWeb.id) {%>
    <input type="hidden" name="id" value="<%= paginaWeb.id %>"/>
    <% }%>
<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informaci&oacuten b&aacutesica</h3>
                    </div>
                    <div class="panel-body">
                    <div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Ej: Imagine" value="<%= paginaWeb.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="descripcion">Descripci&oacuten</label>
    	<textarea type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Ej: Sitio para el grupo Imagine" value="<%= paginaWeb.get('descripcion') %>"/>	
		</div>
        <div class="form-group" >
			<label for="fechaCreacion">Fecha de creaci&oacuten</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaCreacion').datepicker({autoclose:true});
        	$('#fechaCreacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= paginaWeb.get('fechaCreacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
        
        <div class="form-group" >
                            <label for="destruido">Estado
                            <div class= "onoffswitch">
                            <input id="destruido" name="destruido" value="true" type="checkbox" class= "onoffswitch-checkbox" <%= paginaWeb.get('destruido')?'checked':'' %>>
                            <label class="onoffswitch-label" for="destruido">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                            </div>
                            </label>
                        </div>
        
        <div class="form-group" >
 
			<label for="encargadoidId">Encargado</label> 
            <select class="form-control" id="encargadoId" name="encargadoId">
			  <option value="">Ninguno</option>
            <% encargado.each(function(encargadoid) { %> 
              <option value="<%=encargadoid.get('id')%>" <% if(paginaWeb.get('encargadoId')==encargadoid.get('id')) {%>selected<%}%> ><%=encargadoid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
        </div>
                </div>
        <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Informaci&oacuten adicional</h3>
                    </div>
                    <div class="panel-body">
                    
		<div class="form-group" >
		<label for="formato">Formato</label>
    	<input type="text" class="form-control" id="formato" name="formato" placeholder="Ej: Joomla" value="<%= paginaWeb.get('formato') %>"/>	
		</div>
		<div class="form-group" >
			<label for="ultimaFechaModificacion">&Uacuteltima fecha de modificaci&oacuten</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="ultimaFechaModificacion"  name="ultimaFechaModificacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#ultimaFechaModificacion').datepicker({autoclose:true});
        	$('#ultimaFechaModificacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= paginaWeb.get('ultimaFechaModificacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="url">URL</label>
    	<input type="text" class="form-control" id="url" name="url" placeholder="Ej: www.imagine.com" value="<%= paginaWeb.get('url') %>"/>	
		</div>
		<div class="form-group" >
		<label for="alias">Alias</label>
    	<input type="text" class="form-control" id="alias" name="alias" placeholder="Ej: www.imagine2.com" value="<%= paginaWeb.get('alias') %>"/>	
		</div>

		<div class="form-group" >
 
			<label for="cmsidId">CMS</label> 
            <select class="form-control" id="cmsId" name="cmsId">
			  <option value="">Ninguno</option>
            <% cms.each(function(cmsid) { %> 
              <option value="<%=cmsid.get('id')%>" <% if(paginaWeb.get('cmsId')==cmsid.get('id')) {%>selected<%}%> ><%=cmsid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
        </div>
</div>
    </form>
    </div>
</script> 

<script type="text/template" id="paginaWebSearchTemplate">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-paginaWebForm">
    <% if(paginaWeb.id) {%>
    <input type="hidden" name="id" value="<%= paginaWeb.id %>"/>
    <% }%>

<div class="form-group" >
                    <input id="btn_name" class="btn btn-primary" value="Name" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-paginaWeb-display-textfield',{textInputId:'#name' }); return false;" />
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= paginaWeb.get('name') %>"
                           style = "visibility: hidden" />	
            </div>

            <div class="form-group" >
                <input id="btn_fechasTable" class="btn btn-primary" value="Fecha de creacion" type="submit" 
                        onclick="Backbone.trigger('<%= componentId %>-paginaWeb-display-textfield',{textInputId:'#fechasTable' }); return false;" />                
                    <table id="fechasTable" style="visibility: hidden" class="table table-bordered">	
                        <tr>
                            <td><label for="fechaCreacion">Fecha inicial</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Fecha inicial" / >
                                <%= '<scr'+'ipt>' %>
                                $('#fechaCreacion').datepicker({autoclose:true});
                                $('#fechaCreacion').datepicker('getDate',App.Utils.Converter.date.toDate("<%= paginaWeb.get('fechaCreacion') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>

                            <td><label for="fechaCreacion2">Fecha final</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion2"  name="fechaCreacion2" placeholder="Fecha final" />
                                <%= '<scr'+'ipt>' %>
                                $('#fechaCreacion2').datepicker({autoclose:true});
                                $('#fechaCreacion2').datepicker('getDate',App.Utils.Converter.date.toDate("<%= paginaWeb.get('fechaCreacion2') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>

                        </tr>
                   </table>
                </div>
  
                <input id="btn_tableDestruido" class="btn btn-primary" value="Filtrar por desactivados" type="submit" 
                        onclick="Backbone.trigger('<%= componentId %>-paginaWeb-display-textfield',{textInputId:'#tableDestruido' }); return false;" /> 
                <div class="form-group" > 
                    <table id = "tableDestruido" style="visibility: hidden" > 
                        <td>
                            <label>
                                <input id="destruido" name="destruido" value="true" type="checkbox" 
                                    <%= paginaWeb.get('destruido')?'checked':'' %> />  Desactivado
                            </label>
                        </td>
                    </table>
                </div>

                    <input id="btn_tableEncargado" class="btn btn-primary" value="Encargado" type="submit" 
                            onclick="Backbone.trigger('<%= componentId %>-paginaWeb-display-textfield',{textInputId:'#tableEncargado' }); return false;" />
                    <div class="form-group" id = "tableEncargado" style="visibility: hidden">

                        <table class="table table-border" >
                            <tr>
                                <td>
                                    <label for="encargadoidId">Encargado Id</label>
                                </td>
                                <td>
                                    <select class="form-control" id="encargadoId" name="encargadoId">
                                            <option value="">None</option>
                                          <% encargado.each(function(encargadoid) { %> 
                                            <option value="<%=encargadoid.get('id')%>" <% if(paginaWeb.get('encargadoId')==encargadoid.get('id')) {%>selected<%}%> ><%=encargadoid.get('name')%></option>
                                          <% }); %>                
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
           <div class="form-group" >
                <input id="btn_ultimaFechaModTable" class="btn btn-primary" value="Ultima Fecha de Modificacion" type="submit" 
                        onclick="Backbone.trigger('<%= componentId %>-paginaWeb-display-textfield',{textInputId:'#ultimaFechaModTable' }); return false;" />                
                    <table id="ultimaFechaModTable" style="visibility: hidden" class="table table-bordered">	
                        <tr>
                        <td><label for="ultimaFechaModificacion">Fecha inicial</label></td>
                          <td>
                               <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="ultimaFechaModificacion"  name="ultimaFechaModificacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#ultimaFechaModificacion').datepicker({autoclose:true});
        	$('#ultimaFechaModificacion').datepicker('getDate',App.Utils.Converter.date.toDate("<%= paginaWeb.get('ultimaFechaModificacion') %>"));
    		<%= '</scr'+'ipt>' %>
                            </td>
                     <td><label for="ultimaFechaModificacion2">Fecha final</label></td>
                     <td>
                               <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="ultimaFechaModificacion2"  name="ultimaFechaModificacion2" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#ultimaFechaModificacion2').datepicker({autoclose:true});
        	$('#ultimaFechaModificacion2').datepicker('getDate',App.Utils.Converter.date.toDate("<%= paginaWeb.get('ultimaFechaModificacion') %>"));
    		<%= '</scr'+'ipt>' %>
                            </td>
                        </tr>
                   </table>
                </div>
        <div class="form-group" >
                    <input id="btn_url" class="btn btn-primary" value="URL" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-paginaWeb-display-textfield',{textInputId:'#url' }); return false;" />
                 <input type="text" class="form-control" id="url" name="url" placeholder="Enter value" value="<%= paginaWeb.get('url') %>"	
                           style = "visibility: hidden" />	
            </div>
        <div class="form-group" >
                    <input id="btn_alias" class="btn btn-primary" value="Alias" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-paginaWeb-display-textfield',{textInputId:'#alias' }); return false;" />
                 <input type="text" class="form-control" id="alias" name="alias" placeholder="Enter value" value="<%= paginaWeb.get('alias') %>"	
                           style = "visibility: hidden" />	
            </div>
        
      <input id="btn_tablecmsId" class="btn btn-primary" value="CMSID" type="submit" 
                            onclick="Backbone.trigger('<%= componentId %>-paginaWeb-display-textfield',{textInputId:'#tablecmsId' }); return false;" />
                    <div class="form-group" id = "tablecmsId" style="visibility: hidden">

                        <table class="table table-border" >
                            <tr>
                                <td>
            <select class="form-control" id="cmsId" name="cmsId">
			  <option value="">None</option>
            <% cms.each(function(cmsid) { %> 
              <option value="<%=cmsid.get('id')%>" <% if(paginaWeb.get('cmsId')==cmsid.get('id')) {%>selected<%}%> ><%=cmsid.get('name')%></option>
            <% }); %>                
            </select>  
                                </td>
                            </tr>
                        </table>
                    </div>
        </form>
</div>
</script>