<script type="text/template" id="repositorio">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-repositorioForm">
    <% if(repositorio.id) {%>
    <input type="hidden" name="id" value="<%= repositorio.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="tipo">Tipo</label>
    	<input type="text" class="form-control" id="tipo" name="tipo" placeholder="Enter value" value="<%= repositorio.get('tipo') %>"/>	
		</div>
		<div class="form-group" >
		<label for="servidor">Servidor</label>
    	<input type="text" class="form-control" id="servidor" name="servidor" placeholder="Enter value" value="<%= repositorio.get('servidor') %>"/>	
		</div>
		<div class="form-group" >
		<label for="destino">Destino</label>
    	<input type="text" class="form-control" id="destino" name="destino" placeholder="Enter value" value="<%= repositorio.get('destino') %>"/>	
		</div>
		<div class="form-group" >
		<label for="tipoAcceso">Tipo Acceso</label>
    	<input type="text" class="form-control" id="tipoAcceso" name="tipoAcceso" placeholder="Enter value" value="<%= repositorio.get('tipoAcceso') %>"/>	
		</div>
		<div class="form-group" >
		<label for="ubicacionDelServidor">Ubicacion Del Servidor</label>
    	<input type="text" class="form-control" id="ubicacionDelServidor" name="ubicacionDelServidor" placeholder="Enter value" value="<%= repositorio.get('ubicacionDelServidor') %>"/>	
		</div>
		<div class="form-group" >
		<label for="url">Url</label>
    	<input type="text" class="form-control" id="url" name="url" placeholder="Enter value" value="<%= repositorio.get('url') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaVencimiento">Fecha Vencimiento</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaVencimiento"  name="fechaVencimiento" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaVencimiento').datepicker({autoclose:true});
        	$('#fechaVencimiento').datepicker('setDate',App.Utils.Converter.date.toDate("<%= repositorio.get('fechaVencimiento') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= repositorio.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="descripcion">Descripcion</label>
    	<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= repositorio.get('descripcion') %>"/>	
		</div>
		<div class="form-group" >
		<label for="proposito">Proposito</label>
    	<input type="text" class="form-control" id="proposito" name="proposito" placeholder="Enter value" value="<%= repositorio.get('proposito') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaCreacion">Fecha Creacion</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaCreacion').datepicker({autoclose:true});
        	$('#fechaCreacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= repositorio.get('fechaCreacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="destruido" name="destruido" value="true" type="checkbox" <%= repositorio.get('destruido')?'checked':'' %>> Destruido
    	</label>
		</div>
		<div class="form-group" >
		<label for="caracteristicas">Caracteristicas</label>
    	<input type="text" class="form-control" id="caracteristicas" name="caracteristicas" placeholder="Enter value" value="<%= repositorio.get('caracteristicas') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="encargadoidId">Encargado Id</label> 
            <select class="form-control" id="encargadoId" name="encargadoId">
			  <option value="">None</option>
            <% encargado.each(function(encargadoid) { %> 
              <option value="<%=encargadoid.get('id')%>" <% if(repositorio.get('encargadoId')==encargadoid.get('id')) {%>selected<%}%> ><%=encargadoid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 
<script type="text/template" id="repositorioSearchTemplate">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-repositorioForm">
    <% if(repositorio.id) {%>
    <input type="hidden" name="id" value="<%= repositorio.id %>"/>
    <% }%>
<div class="form-group" >
                    <input id="btn_name" class="btn btn-primary" value="Name" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-repositorio-display-textfield',{textInputId:'#name' }); return false;" />
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= repositorio.get('name') %>"
                           style = "visibility: hidden" />	
            </div>

            <div class="form-group" >
                <input id="btn_fechasTable" class="btn btn-primary" value="Fecha de creacion" type="submit" 
                        onclick="Backbone.trigger('<%= componentId %>-repositorio-display-textfield',{textInputId:'#fechasTable' }); return false;" />                
                    <table id="fechasTable" style="visibility: hidden" class="table table-bordered">	
                        <tr>
                            <td><label for="fechaCreacion">Fecha inicial</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Fecha inicial" / >
                                <%= '<scr'+'ipt>' %>
                                $('#fechaCreacion').datepicker({autoclose:true});
                                $('#fechaCreacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= repositorio.get('fechaCreacion') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>

                            <td><label for="fechaCreacion2">Fecha final</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion2"  name="fechaCreacion2" placeholder="Fecha final" />
                                <%= '<scr'+'ipt>' %>
                                $('#fechaCreacion2').datepicker({autoclose:true});
                                $('#fechaCreacion2').datepicker('setDate',App.Utils.Converter.date.toDate("<%= repositorio.get('fechaCreacion2') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>

                        </tr>
                   </table>
                </div>
  
            <div class="form-group" >
                <input id="btn_fechasTable2" class="btn btn-primary" value="Fecha de vencimiento" type="submit" 
             onclick="Backbone.trigger('<%= componentId %>-repositorio-display-textfield',{textInputId:'#fechasTable2' }); return false;" />                
                    <table id="fechasTable2" style="visibility: hidden" class="table table-bordered">	
                        <tr>
                            <td><label for="fechaVencimiento">Fecha inicial</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaVencimiento"  name="fechaVencimiento" placeholder="Fecha inicial" / >
                                <%= '<scr'+'ipt>' %>
                                $('#fechaVencimiento').datepicker({autoclose:true});
                                $('#fechaVencimiento').datepicker('setDate',App.Utils.Converter.date.toDate("<%= repositorio.get('fechaVencimiento') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>

                            <td><label for="fechaVencimiento2">Fecha final</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaVencimiento2"  name="fechaVencimiento2" placeholder="Fecha final" />
                                <%= '<scr'+'ipt>' %>
                                $('#fechaVencimiento2').datepicker({autoclose:true});
                                $('#fechaVencimiento2').datepicker('setDate',App.Utils.Converter.date.toDate("<%= repositorio.get('fechaVencimiento2') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>
         
                        </tr>
                   </table>
            </div>
              
                <input id="btn_tableDestruido" class="btn btn-primary" value="Filtrar por desactivados" type="submit" 
                        onclick="Backbone.trigger('<%= componentId %>-repositorio-display-textfield',{textInputId:'#tableDestruido' }); return false;" /> 
                <div class="form-group" > 
                    <table id = "tableDestruido" style="visibility: hidden" > 
                        <td>
                            <label>
                                <input id="destruido" name="destruido" value="true" type="checkbox" 
                                    <%= repositorio.get('destruido')?'checked':'' %> />  Desactivado
                            </label>
                        </td>
                    </table>
                </div>

                    <input id="btn_tableEncargado" class="btn btn-primary" value="Encargado" type="submit" 
                            onclick="Backbone.trigger('<%= componentId %>-repositorio-display-textfield',{textInputId:'#tableEncargado' }); return false;" />
                    <div class="form-group" id = "tableEncargado" style="visibility: hidden">

                        <table class="table table-border" >
                            <tr>
                                <td>
                                    <label for="encargadoidId">Encargado Id</label>
                                </td>
                                <td>
                                    <select class="form-control" id="encargadoId" name="encargadoId">
                                            <option value="">None</option>
                                          <% encargado.each(function(encargadoid) { %> 
                                            <option value="<%=encargadoid.get('id')%>" <% if(repositorio.get('encargadoId')==encargadoid.get('id')) {%>selected<%}%> ><%=encargadoid.get('name')%></option>
                                          <% }); %>                
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
            
            <input id="btn_tipo" class="btn btn-primary" value="Tipo" type="submit" 
             onclick="Backbone.trigger('<%= componentId %>-repositorio-display-textfield',{textInputId:'#fg-tipo' }); return false;" />
                     <div class="form-group" >
    	<input type="text" class="form-control" id="tipo" name="tipo" placeholder="Enter value" value="<%= repositorio.get('tipo') %>"/>	
		</div>
        
        <input id="btn_servidor" class="btn btn-primary" value="Servidor" type="submit" 
             onclick="Backbone.trigger('<%= componentId %>-repositorio-display-textfield',{textInputId:'#fg-servidor' }); return false;" />
        <div class="form-group" >
    	<input type="text" class="form-control" id="servidor" name="servidor" placeholder="Enter value" value="<%= repositorio.get('servidor') %>"/>	
		</div>
        
        <input id="btn_url" class="btn btn-primary" value="URL" type="submit" 
             onclick="Backbone.trigger('<%= componentId %>-repositorio-display-textfield',{textInputId:'#fg-url' }); return false;" />
        <div class="form-group" >
    	<input type="text" class="form-control" id="url" name="url" placeholder="Enter value" value="<%= repositorio.get('url') %>"/>	
		</div>
        </form>
</div>
</script>