<script type="text/template" id="softwareSalas">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-softwareSalasForm">
    <% if(softwareSalas.id) {%>
    <input type="hidden" name="id" value="<%= softwareSalas.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="tipoMaquina">Tipo Maquina</label>
    	<input type="text" class="form-control" id="tipoMaquina" name="tipoMaquina" placeholder="Enter value" value="<%= softwareSalas.get('tipoMaquina') %>"/>	
		</div>
		<div class="form-group" >
		<label for="software">Software</label>
    	<input type="text" class="form-control" id="software" name="software" placeholder="Enter value" value="<%= softwareSalas.get('software') %>"/>	
		</div>
		<div class="form-group" >
		<label for="version">Version</label>
    	<input type="text" class="form-control" id="version" name="version" placeholder="Enter value" value="<%= softwareSalas.get('version') %>"/>	
		</div>
		<div class="form-group" >
		<label for="solicitante">Solicitante</label>
    	<input type="text" class="form-control" id="solicitante" name="solicitante" placeholder="Enter value" value="<%= softwareSalas.get('solicitante') %>"/>	
		</div>
		<div class="form-group" >
		<label for="numeroMaquina">Numero Maquina</label>
    	<input type="text" class="form-control" id="numeroMaquina" name="numeroMaquina" placeholder="Enter value" value="<%= softwareSalas.get('numeroMaquina') %>"/>	
		</div>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= softwareSalas.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="descripcion">Descripcion</label>
    	<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= softwareSalas.get('descripcion') %>"/>	
		</div>
		<div class="form-group" >
		<label for="proposito">Proposito</label>
    	<input type="text" class="form-control" id="proposito" name="proposito" placeholder="Enter value" value="<%= softwareSalas.get('proposito') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaCreacion">Fecha Creacion</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaCreacion').datepicker({autoclose:true});
        	$('#fechaCreacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= softwareSalas.get('fechaCreacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="destruido" name="destruido" value="true" type="checkbox" <%= softwareSalas.get('destruido')?'checked':'' %>> Destruido
    	</label>
		</div>
		<div class="form-group" >
		<label for="caracteristicas">Caracteristicas</label>
    	<input type="text" class="form-control" id="caracteristicas" name="caracteristicas" placeholder="Enter value" value="<%= softwareSalas.get('caracteristicas') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="workstationidId">Workstation Id</label> 
            <select class="form-control" id="workstationId" name="workstationId">
			  <option value="">None</option>
            <% workstation.each(function(workstationid) { %> 
              <option value="<%=workstationid.get('id')%>" <% if(softwareSalas.get('workstationId')==workstationid.get('id')) {%>selected<%}%> ><%=workstationid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 
<script type="text/template" id="softwareSalasSearchTemplate" >
    <div class="form-group">
    <form role="form" id="<%= componentId %>-softwareSalasForm">
    <% if(softwareSalas.id) {%>
    <input type="hidden" name="id" value="<%= softwareSalas.id %>"/>
    <% }%>
    <div class="form-group" >
                    <input id="btn_name" class="btn btn-primary" value="Name" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-softwareSalas-display-textfield',{textInputId:'#name' }); return false;" />
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= softwareSalas.get('name') %>"
                           style = "visibility: hidden" />	
            </div>

            <div class="form-group" >
                <input id="btn_fechasTable" class="btn btn-primary" value="Fecha de creacion" type="submit" 
                        onclick="Backbone.trigger('<%= componentId %>-softwareSalas-display-textfield',{textInputId:'#fechasTable' }); return false;" />                
                    <table id="fechasTable" style="visibility: hidden" class="table table-bordered">	
                        <tr>
                            <td><label for="fechaCreacion">Fecha inicial</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Fecha inicial" / >
                                <%= '<scr'+'ipt>' %>
                                $('#fechaCreacion').datepicker({autoclose:true});
                                $('#fechaCreacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= softwareSalas.get('fechaCreacion') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>

                            <td><label for="fechaCreacion2">Fecha final</label></td>

                            <td>
                                <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion2"  name="fechaCreacion2" placeholder="Fecha final" />
                                <%= '<scr'+'ipt>' %>
                                $('#fechaCreacion2').datepicker({autoclose:true});
                                $('#fechaCreacion2').datepicker('setDate',App.Utils.Converter.date.toDate("<%= softwareSalas.get('fechaCreacion2') %>"));
                                <%= '</scr'+'ipt>' %>
                            </td>

                        </tr>
                   </table>
                </div>
        
        <input id="btn_tableDestruido" class="btn btn-primary" value="Filtrar por desactivados" type="submit" 
                        onclick="Backbone.trigger('<%= componentId %>-softwareSalas-display-textfield',{textInputId:'#tableDestruido' }); return false;" /> 
                <div class="form-group" > 
                    <table id = "tableDestruido" style="visibility: hidden" > 
                        <td>
                            <label>
                                <input id="destruido" name="destruido" value="true" type="checkbox" 
                                    <%= softwareSalas.get('destruido')?'checked':'' %> />  Desactivado
                            </label>
                        </td>
                    </table>
                </div>

            <input id="btn_tipoMaquina" class="btn btn-primary" value="Tipo de Maquina" type="submit" 
             onclick="Backbone.trigger('<%= componentId %>-softwareSalas-display-textfield',{textInputId:'#fg-tipoMaquina' }); return false;" />
            <div class="form-group" >
    	<input type="text" class="form-control" id="tipoMaquina" name="tipoMaquina" placeholder="Enter value" value="<%= softwareSalas.get('tipoMaquina') %>"/>	
		</div>
        <input id="btn_software" class="btn btn-primary" value="Software" type="submit" 
             onclick="Backbone.trigger('<%= componentId %>-softwareSalas-display-textfield',{textInputId:'#fg-software' }); return false;" />
        <div class="form-group" >
    	<input type="text" class="form-control" id="software" name="software" placeholder="Enter value" value="<%= softwareSalas.get('software') %>"/>	
		</div>
            <input id="btn_version" class="btn btn-primary" value="Version" type="submit" 
             onclick="Backbone.trigger('<%= componentId %>-softwareSalas-display-textfield',{textInputId:'#fg-version' }); return false;" />
                     <div class="form-group" >
    	<input type="text" class="form-control" id="version" name="version" placeholder="Enter value" value="<%= softwareSalas.get('version') %>"/>	
		</div>
          <input id="btn_solicitante" class="btn btn-primary" value="Solicitante" type="submit" 
             onclick="Backbone.trigger('<%= componentId %>-softwareSalas-display-textfield',{textInputId:'#fg-solicitante' }); return false;" />
         <div class="form-group" >
    	<input type="text" class="form-control" id="solicitante" name="solicitante" placeholder="Enter value" value="<%= softwareSalas.get('solicitante') %>"/>	
		</div>
         <input id="btn_workstation" class="btn btn-primary" value="Workstation" type="submit" 
             onclick="Backbone.trigger('<%= componentId %>-softwareSalas-display-textfield',{textInputId:'#fg-workstation' }); return false;" />
        <div class="form-group" >
            <select class="form-control" id="workstationId" name="workstationId">
			  <option value="">None</option>
            <% workstation.each(function(workstationid) { %> 
              <option value="<%=workstationid.get('id')%>" <% if(softwareSalas.get('workstationId')==workstationid.get('id')) {%>selected<%}%> ><%=workstationid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
</form>
</div>
</script>