<script type="text/template" id="usuario">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-usuarioForm">
    <% if(usuario.id) {%>
    <input type="hidden" name="id" value="<%= usuario.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= usuario.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="login">Login</label>
    	<input type="text" class="form-control" id="login" name="login" placeholder="Enter value" value="<%= usuario.get('login') %>"/>	
		</div>
    </form>
    </div>
</script> 