<script type="text/template" id="wiki">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-wikiForm">
    <% if(wiki.id) {%>
    <input type="hidden" name="id" value="<%= wiki.id %>"/>
    <% }%>
    <div class="form-group" >
    <label for="servidor_host">Servidor_host</label>
    <input type="text" class="form-control" id="servidor_host" name="servidor_host" placeholder="Enter value" value="<%= wiki.get('servidor_host') %>"/>	
    </div>
    <div class="form-group" >
    <label for="rutaServidor">Ruta Servidor</label>
    <input type="text" class="form-control" id="rutaServidor" name="rutaServidor" placeholder="Enter value" value="<%= wiki.get('rutaServidor') %>"/>	
    </div>
    <div class="form-group" >
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= wiki.get('name') %>"/>	
    </div>
    <div class="form-group" >
    <label for="descripcion">Descripcion</label>
    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= wiki.get('descripcion') %>"/>	
    </div>
    <div class="form-group" >
    <label for="proposito">Proposito</label>
    <input type="text" class="form-control" id="proposito" name="proposito" placeholder="Enter value" value="<%= wiki.get('proposito') %>"/>	
    </div>
    <div class="form-group" >
    <label for="fechaCreacion">Fecha Creacion</label>
    <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Enter value" />
    <%= '<scr'+'ipt>' %>
    $('#fechaCreacion').datepicker({autoclose:true});
    $('#fechaCreacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= wiki.get('fechaCreacion') %>"));
    <%= '</scr'+'ipt>' %>
    </div>
    <div class="form-group" >
    <label>
    <input id="destruido" name="destruido" value="true" type="checkbox" <%= wiki.get('destruido')?'checked':'' %>> Destruido
    </label>
    </div>
    <div class="form-group" >
    <label for="caracteristicas">Caracteristicas</label>
    <input type="text" class="form-control" id="caracteristicas" name="caracteristicas" placeholder="Enter value" value="<%= wiki.get('caracteristicas') %>"/>	
    </div>
    <div class="form-group" >

    <label for="encargadoidId">Encargado Id</label> 
    <select class="form-control" id="encargadoId" name="encargadoId">
    <option value="">None</option>
    <% encargado.each(function(encargadoid) { %> 
    <option value="<%=encargadoid.get('id')%>" <% if(wiki.get('encargadoId')==encargadoid.get('id')) {%>selected<%}%> ><%=encargadoid.get('name')%></option>
    <% }); %>                
    </select>  
    </div>
    </form>
    </div>
</script> 

<script type="text/template" id="wikiSearchTemplate">
            <div class="form-group">
    <form role="form" id="<%= componentId %>-wikiForm">
    <% if(wiki.id) {%>
    <input type="hidden" name="id" value="<%= wiki.id %>"/>
    <% }%>
	
                
            <div class="form-group" >        
        <input id="btn_servidor_host" class="btn btn-primary" value="Servidor Host" type="submit" 
                onclick="Backbone.trigger('<%= componentId %>-wiki-display-textfield',{textInputId:'#servidor_host'}); return false;" />
        <input type="text" class="form-control" id="servidor_host" name="servidor_host" placeholder="Enter value" 
               value="<%= wiki.get('servidor_host') %>" style="visibility: hidden" />	
            </div>
	
                
            <div class="form-group" >
        <input id="btn_rutaServidor" class="btn btn-primary" value="Ruta Servidor" type="submit" onclick="Backbone.trigger('<%= componentId %>-wiki-display-textfield',{textInputId:'#rutaServidor'}); return false;" />
        <input type="text" class="form-control" id="rutaServidor" name="rutaServidor" placeholder="Enter value" 
                value="<%= wiki.get('rutaServidor') %>" style="visibility: hidden"/>
            </div>
    
            <div class="form-group" >
            <input id="btn_name" class="btn btn-primary" value="Name" type="submit" onclick="Backbone.trigger('<%= componentId %>-wiki-display-textfield',{textInputId:'#name' }); return false;" />
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= wiki.get('name') %>"
                   style = "visibility: hidden" />	
            </div>
		     	
            <div class="form-group" >
            <input id="btn_fechasTable" class="btn btn-primary" value="Fecha de creacion" type="submit" 
                    onclick="Backbone.trigger('<%= componentId %>-wiki-display-textfield',{textInputId:'#fechasTable' }); return false;" />                
                <table id="fechasTable" style="visibility: hidden" class="table table-bordered">	
                    <tr>
                        <td><label for="fechaCreacion">Fecha inicial</label></td>
                        
                        <td>
                            <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Fecha inicial" / >
                            <%= '<scr'+'ipt>' %>
                            $('#fechaCreacion').datepicker({autoclose:true});
                            $('#fechaCreacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= wiki.get('fechaCreacion') %>"));
                            <%= '</scr'+'ipt>' %>
                        </td>
                    
                        <td><label for="fechaCreacion2">Fecha final</label></td>
                        
                        <td>
                            <input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion2"  name="fechaCreacion2" placeholder="Fecha final" />
                            <%= '<scr'+'ipt>' %>
                            $('#fechaCreacion2').datepicker({autoclose:true});
                            $('#fechaCreacion2').datepicker('setDate',App.Utils.Converter.date.toDate("<%= wiki.get('fechaCreacion2') %>"));
                            <%= '</scr'+'ipt>' %>
                        </td>
                    
                    </tr>
               </table>
            </div>
		
            <input id="btn_tableDestruido" class="btn btn-primary" value="Filtrar por desactivados" type="submit" 
                    onclick="Backbone.trigger('<%= componentId %>-wiki-display-textfield',{textInputId:'#tableDestruido' }); return false;" /> 
            <div class="form-group" > 
                <table id = "tableDestruido" style="visibility: hidden" > 
                    <td>
                        <label>
                            <input id="destruido" name="destruido" value="true" type="checkbox" 
                                <%= wiki.get('destruido')?'checked':'' %> />  Desactivado
                        </label>
                    </td>
                </table>
            </div>
    
                <input id="btn_tableEncargado" class="btn btn-primary" value="Encargado" type="submit" 
                        onclick="Backbone.trigger('<%= componentId %>-wiki-display-textfield',{textInputId:'#tableEncargado' }); return false;" />
		<div class="form-group" id = "tableEncargado" style="visibility: hidden">
                    
                    <table class="table table-border" >
                        <tr>
                            <td>
                                <label for="encargadoidId">Encargado Id</label>
                            </td>
                            <td>
                                <select class="form-control" id="encargadoId" name="encargadoId">
                                        <option value="">None</option>
                                      <% encargado.each(function(encargadoid) { %> 
                                        <option value="<%=encargadoid.get('id')%>" <% if(wiki.get('encargadoId')==encargadoid.get('id')) {%>selected<%}%> ><%=encargadoid.get('name')%></option>
                                      <% }); %>                
                                </select>
                            </td>
                        </tr>
                    </table>
		</div>
    </form>
    </div>
</script>