<script type="text/template" id="wiki">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-wikiForm">
    <% if(wiki.id) {%>
    <input type="hidden" name="id" value="<%= wiki.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="servidor_host">Servidor_host</label>
    	<input type="text" class="form-control" id="servidor_host" name="servidor_host" placeholder="Enter value" value="<%= wiki.get('servidor_host') %>"/>	
		</div>
		<div class="form-group" >
		<label for="rutaServidor">Ruta Servidor</label>
    	<input type="text" class="form-control" id="rutaServidor" name="rutaServidor" placeholder="Enter value" value="<%= wiki.get('rutaServidor') %>"/>	
		</div>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= wiki.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="descripcion">Descripcion</label>
    	<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= wiki.get('descripcion') %>"/>	
		</div>
		<div class="form-group" >
		<label for="proposito">Proposito</label>
    	<input type="text" class="form-control" id="proposito" name="proposito" placeholder="Enter value" value="<%= wiki.get('proposito') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaCreacion">Fecha Creacion</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCreacion"  name="fechaCreacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaCreacion').datepicker({autoclose:true});
        	$('#fechaCreacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= wiki.get('fechaCreacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="destruido" name="destruido" value="true" type="checkbox" <%= wiki.get('destruido')?'checked':'' %>> Destruido
    	</label>
		</div>
		<div class="form-group" >
		<label for="caracteristicas">Caracteristicas</label>
    	<input type="text" class="form-control" id="caracteristicas" name="caracteristicas" placeholder="Enter value" value="<%= wiki.get('caracteristicas') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="encargadoidId">Encargado Id</label> 
            <select class="form-control" id="encargadoId" name="encargadoId">
			  <option value="">None</option>
            <% encargado.each(function(encargadoid) { %> 
              <option value="<%=encargadoid.get('id')%>" <% if(wiki.get('encargadoId')==encargadoid.get('id')) {%>selected<%}%> ><%=encargadoid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 