<script type="text/template" id="workstation">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-workstationForm">
    <% if(workstation.id) {%>
    <input type="hidden" name="id" value="<%= workstation.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= workstation.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="duenio">Duenio</label>
    	<input type="text" class="form-control" id="duenio" name="duenio" placeholder="Enter value" value="<%= workstation.get('duenio') %>"/>	
		</div>
		<div class="form-group" >
		<label for="destino">Destino</label>
    	<input type="text" class="form-control" id="destino" name="destino" placeholder="Enter value" value="<%= workstation.get('destino') %>"/>	
		</div>
		<div class="form-group" >
		<label for="sistemaOperativo">Sistema Operativo</label>
    	<input type="text" class="form-control" id="sistemaOperativo" name="sistemaOperativo" placeholder="Enter value" value="<%= workstation.get('sistemaOperativo') %>"/>	
		</div>
    </form>
    </div>
</script> 
<script type="text/template" id="workstationSearchTemplate">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-workstationForm">
    <% if(workstation.id) {%>
    <input type="hidden" name="id" value="<%= workstation.id %>"/>
    <% }%>
<div class="form-group" >
                    <input id="btn_name" class="btn btn-primary" value="Name" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-workstation-display-textfield',{textInputId:'#name' }); return false;" />
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= workstation.get('name') %>"
                           style = "visibility: hidden" />	
            </div>
                       <div class="form-group" >
                    <input id="btn_duenio" class="btn btn-primary" value="Duenio" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-workstation-display-textfield',{textInputId:'#duenio' }); return false;" />
                   <input type="text" class="form-control" id="duenio" name="duenio" placeholder="Enter value" value="<%= workstation.get('duenio') %>"
                           style = "visibility: hidden" />	
            </div>
    <div class="form-group" >
                    <input id="btn_sistemaOperativo" class="btn btn-primary" value="Sistema Operativo" type="submit" 
                  onclick="Backbone.trigger('<%= componentId %>-workstation-display-textfield',{textInputId:'#sistemaOperativo' }); return false;" />
                    <input type="text" class="form-control" id="sistemaOperativo" name="sistemaOperativo" placeholder="Enter value" value="<%= workstation.get('sistemaOperativo') %>"
                           style = "visibility: hidden" />	
            </div>
        </form>
</div>
</script>